@mixin linear-gradient($color1, $color2, $color3) {
    background: linear-gradient(
        140deg,
        #{$color1} 0%,
        #{$color2} 69%,
        #{$color3} 100%
    );
}

#detailsContainer {
    overflow: hidden;
    width: 27%;
    position: relative;

    button {
        position: absolute;
        top: 0vh;
        right: 0vw;
        z-index: 2;
        background-color: white;
        padding: 5px 10px;
        border-radius: 100%;
        border-width: 3px;
        font-weight: 600;
        visibility: hidden;
        animation: hide 1s ease-out 1s forwards;
    }
}

.detailsPage {
    margin: 15px 15px 0 0;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    height: fit-content;
    transition: all 1s;
    animation-name: grow;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    .imgContainer {
        background-color: rgba(#000000, 0.4);
        text-align: center;
        padding: 10% 0 10% 0;
        border-radius: 3px 3px 0 0;
        position: relative;

        img {
            height: 19vh;
            width: 80%;
            object-fit: contain;
            margin: auto;
            display: inline-block;
        }

        #allTypes {
            display: flex;
            justify-content: center;
            gap: 10px;
            width: 100%;
            position: absolute;
            bottom: -7%;
            z-index: 1;
            color: white;

            .types {
                width: fit-content;
                padding: 5px 25px;
                border-radius: 5px;
            }
        }
    }

    .info {
        background-color: rgba(#ffffff, 0.7);
        padding: 8% 2% 5% 2%;
        position: relative;
        border-radius: 0 0 3px 3px;

        h1 {
            text-transform: capitalize;
            margin-bottom: 2vh;
        }

        div {
            h2 {
                font-weight: 400;
                text-align: right;
                width: 50%;
                margin: 0;
                padding-right: 7px;
                text-transform: capitalize;
                font-size: 0.8rem;
            }

            p {
                width: 50%;
                text-align: left;
                margin: 0;
                font-size: 0.8rem;
            }

            span {
                display: flex;
                align-items: baseline;
                justify-content: center;
            }
        }

        h2 {
            margin: 2vh 0 1vh 0;
            font-weight: 400;
            font-size: 0.8rem;
        }

        p {
            margin: 0;
            padding-left: 7px;
            text-transform: capitalize;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
        }
    }
}

.detailsPage.darkTheme {
    filter: brightness(80%);
    color: white;

    .info {
        background-color: rgba(#ffffff, 0.3);
    }
}

.detailsPage {
    &--grass {
        @include linear-gradient(#56a669, #519d52, #51a813);
    }

    &--normal {
        @include linear-gradient(#e6e6cc, #8b8b68, #69644c);
    }

    &--water {
        @include linear-gradient(#93b1f2, #425174, #3e54ab);
    }

    &--electric {
        @include linear-gradient(#ffec9e, #c5a524, #ffcc00);
    }

    &--fire {
        @include linear-gradient(#ffd478, #ea9b56, #ff7b00);
    }

    &--fighting {
        @include linear-gradient(#eb463a, #a9423b, #691313);
    }

    &--ground {
        @include linear-gradient(#e2bf65, #996600, #5b4f1b);
    }

    &--rock {
        @include linear-gradient(#b6a136, #6e6328, #413b13);
    }

    &--flying {
        @include linear-gradient(#c8b8f6, #9286ae, #7657b0);
    }

    &--psychic {
        @include linear-gradient(#f95587, #cd6e94, #c6418a);
    }

    &--ghost {
        @include linear-gradient(#191919, #100b32, #5c0249);
    }

    &--dark {
        @include linear-gradient(#705746, #998071, #604834);
    }

    &--poison {
        @include linear-gradient(#632661, #642663, #a33ea1);
    }

    &--bug {
        @include linear-gradient(#a7bc40, #5b7122, #495412);
    }
    &--ice {
        background: linear-gradient(#a9c7d1, #7ec1c6, #538db6);
    }

    &--fairy {
        background: linear-gradient(#ffc5e0, #ca8392, #b7636b);
    }

    &--dragon {
        background: linear-gradient(#7135fc, #7974fd, #1f115f);
    }

    &--steel {
        background: linear-gradient(#b7b7ce, #a9a9be, #67647c);
    }
}

@keyframes grow {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hide {
    0% {
        visibility: hidden;
    }
    1% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

@media screen and (min-width: 2560px) {
    #detailsContainer {
        button {
            top: 23vh;
            right: 7.5vw;
        }
    }
    .detailsPage .imgContainer #allTypes {
        bottom: -4%;
    }
}

@media screen and (max-width: 1200px) {
    #detailsContainer {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    #detailsContainer {
        position: absolute;
        top: 23vh;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            right: 19vw;
        }

        .detailsPage {
            width: 60%;
        }
    }
}
