#pokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(25% - 0.8vw));
    grid-auto-rows: min-content;
    row-gap: 1vw;
    column-gap: 1vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 70vh;
    overflow: scroll;
    padding-bottom: 3vh;
    margin-top: 15px;

    button {
        border: none;
        background: none;
        cursor: pointer;
    }

    article {
        width: 100%;
        border-radius: 20px;
        background-color: #d1dadd;
        height: fit-content;

        div:nth-of-type(1) {
            text-align: center;

            img {
                height: 20vh;
                max-width: 90%;
                padding: 5%;
            }
        }

        div:nth-of-type(2) {
            background-color: rgb(238, 232, 232);
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            border-radius: 0 0 20px 20px;
            padding: 5%;
            color: #333333;

            h2 {
                font-size: 1rem;
                padding-left: 2%;
            }
        }
    }
}

#pokemonList::-webkit-scrollbar {
    display: none;
}

#pokemonList.full-width {
    width: 100%;
    transition: width 0.5s ease-in;
}

#pokemonList.partial-width {
    width: 73%;
}

#pokemonList.darkTheme {
    article {
        background-color: #333333;
    }

    div:nth-of-type(2) {
        background-color: rgba(238, 232, 232, 0.406);
        color: rgba(255, 255, 255, 0.793);
    }

    #error {
        color: rgba(255, 255, 255, 0.793);
    }
}

@media screen and (max-width: 1200px) {
    #pokemonList {
        grid-template-columns: repeat(auto-fit, calc(23vw - 10px));
        article {
            width: calc(23vw - 10px);
        }
    }
}

@media screen and (max-width: 768px) {
    #pokemonList {
        height: 78vh;
        row-gap: 3vw;
        column-gap: 3vw;
        margin-left: 3vw;
        grid-template-columns: repeat(auto-fit, calc(27vw - 20px));
        article {
            width: calc(27vw - 20px);
            div:nth-of-type(2) {
                h2 {
                    font-size: 0.8rem;
                }
            }
        }
    }
    #pokemonList.partial-width {
        width: 0%;
    }
}

@media screen and (max-width: 480px) {
    #pokemonList {
        height: 78vh;
        row-gap: 3vw;
        column-gap: 3vw;
        margin-left: 3vw;
        grid-template-columns: repeat(auto-fit, calc(42vw - 20px));
        article {
            width: calc(42vw - 20px);
            div:nth-of-type(2) {
                h2 {
                    font-size: 0.8rem;
                }
            }
        }
    }
    #pokemonList.partial-width {
        width: 0%;
    }
}

@media screen and (min-width: 2560px) {
    #pokemonList {
        height: 76vh;
        margin-left: 3vw;
        grid-template-columns: repeat(auto-fit, calc(13vw - 20px));
        article {
            width: calc(13vw - 20px);
            div:nth-of-type(1) {
                img {
                    height: 10vh;
                }
            }
        }
    }
}
