#filterButtons {
    width: 80vw;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;

    .labelButton {
        display: inline-block;
        padding: 8px 25px;
        border-radius: 5px;
        margin: 5px;
        text-transform: capitalize;
    }

    .labelButton.selected {
        border: 2px solid black;
        box-shadow: 0px 0px 15px -3px rgb(0, 0, 0);
    }

    input {
        display: none;
    }
}

#filterButtons.darkTheme {
    label {
        filter: brightness(80%);
    }

    .labelButton.selected {
        border: 2px solid white;
        box-shadow: 0px 0px 15px -3px white;
    }
}
