#home {
    #listAndDetails {
        display: flex;
        margin: 22vh 5vw;

        #pokemonList {
            width: 72%;
            height: 73vh;
            overflow: scroll;
            padding-bottom: 3vh;
        }

        #details {
            width: 28%;
            height: fit-content;
            position: fixed;
            top: 27vh;
            right: 5vw;
        }
    }
}
