#home {
    #logo {
        height: 8vh;
        object-fit: contain;
        margin-top: 2vh;
        width: 100%;
    }
    #listAndDetails {
        display: flex;
        gap: 2vw;
        margin: 2vh 8vw;
    }
}
