#searchBar {
    width: 85vw;
    margin: auto;
    padding: 2vh 0;

    input {
        border: none;
        box-shadow: 0px 0px 45px -3px rgb(187, 187, 187);
        padding: 2vh 2vw;
        border-radius: 20px;
        letter-spacing: 0.15rem;
    }
}

#searchBar.darkTheme {
    input {
        box-shadow: 0px 0px 45px -3px rgba(103, 103, 103, 0.619);
        background-color: #7b7979;
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.624);
    }

    input:focus {
        outline: none;
    }
}

@media screen and (max-width: 768px) {
    #searchBar {
        width: 70vw;
        line-height: 1rem;
    }
}

@media screen and (max-width: 480px) {
    #searchBar {
        width: 65vw;

        input {
            padding: 2vh 4vw;
        }
    }
}
