#app {
    background-image: url("./assets/images/wallpaper.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#app.darkTheme {
    background-image: url("./assets/images/wallpaperDarkTheme.png");
}

#lightmodeToggle {
    width: 40px;
    object-fit: contain;
    position: fixed;
    top: 13vh;
    right: 2vw;
}

@media screen and (max-width: 992px) {
    #lightmodeToggle {
        width: 35px;
    }
}

@media screen and (max-width: 768px) {
    #lightmodeToggle {
        width: 35px;
        top: 13.4vh;
        right: 5vw;
    }
}

@media screen and (max-width: 480px) {
    #lightmodeToggle {
        top: 13.2vh;
    }
}
